body {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

.header {
  text-align: center;
  background-color: grey;
}

.footer {
  text-align: center;
  background-color: grey;

}

.app-body {
  height: 100vh;
  background-color: bisque;
}

